$color-pink: hsl(322, 100%, 66%);
$color-cyan-pale: hsl(193, 100%, 96%);
$color-cyan-dark: hsl(192, 100%, 9%);
$color-grey: hsl(208, 11%, 55%);

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color-scheme: dark light;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}

img,
picture,
svg,
video {
  display: block;
  width: 100%;
}

.header {
  height: 100vh;
  padding: 6rem;
  background-image: url(../images/bg-hero-desktop.svg),
    linear-gradient($color-cyan-pale, $color-cyan-pale);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  row-gap: 6rem;

  &__logo-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    width: 40%;

    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 3rem;
  }

  &__right {
    width: 55%;
  }

  &__btn {
    &:link,
    &:visited {
      text-decoration: none;
      font-size: 1.4rem;
      color: hsl(192, 100%, 9%);
      display: block;
      padding: 1.25rem 5rem;
      border-radius: 100rem;
      transition: opacity 0.2s;
    }

    &:hover {
      opacity: 0.75;
    }

    &--1 {
      background-color: #fff;
      box-shadow: 0 0.5rem 0.75rem rgba($color-grey, 0.4);
    }

    &--2 {
      background-color: $color-pink;
    }
  }
}

.main {
  background-color: #fff;
  padding: 10rem 6rem 6rem;

  display: flex;
  flex-direction: column;
  row-gap: 3rem;

  &__container {
    border-radius: 1rem;
    box-shadow: 0 0 0.75rem rgba($color-grey, 0.3);
    padding: 4rem 2rem 4rem 10rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &--4 {
      width: 50%;
      padding: 4rem;

      align-self: center;
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
    }
  }

  &__text-box {
    width: 45%;
    color: $color-grey;

    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  &__photo {
    width: 40%;
  }

  &__btn {
    &:link,
    &:visited {
      background-color: $color-pink;
      text-decoration: none;
      color: #fff;
      font-size: 1.5rem;
      border-radius: 100rem;
      padding: 1.5rem 6rem;
      box-shadow: 0 0.5rem 0.75rem rgba($color-grey, 0.4);
    }
  }
}

.footer {
  background-color: $color-cyan-dark;
  color: #fff;
  padding: 10rem 4rem 4rem;

  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  &__main {
    display: flex;
    justify-content: space-between;
  }

  &__details {
    width: 30%;

    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  &__box {
    display: flex;
    column-gap: 2rem;
  }

  &__photo-icon {
    width: 2rem;
    height: 2rem;
  }

  &__menu {
    width: 30%;
  }

  &__menu-box {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    align-content: center;
  }

  &__socials {
    width: 30%;
  }

  &__copyright {
    align-self: flex-end;
  }
}

.heading {
  color: $color-cyan-dark;
}
